/*-----------------------------------------------------------------------------*/
/*PÁGINA RESEÑAS*/
.enlaces{
    width: 100%;
    height: calc(100% - 125px);
    overflow-y: auto; /*permite que si hay muchos elementos se pueda hacer scroll*/
}
.button{
    display: flex;
    justify-content: center;
    font-size: 12px;
    gap: 20px; 
    margin-bottom: 10px;
    padding: 5px 10px;
}
.enlaces p{
    text-align: center;
    margin-bottom: 20px;
}
.libros{
    display: flex;
    justify-content: center;
}
.libros ul{
    list-style: none;
    padding: 0;
    margin: 0;
    max-width: 600px;
    width: 100%;
}
.libros li{
    margin: 10px 0;
    text-align: center;
    font-size: 17px;
    padding: 12px;
    transition: scale 0.3s;
}
.libros li:hover{
    scale: 1.2;
}
.libros a{
    text-decoration: none;
}
.enlaces li a.on{
    color: #f0a6ca;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .button{
        font-size: 11px;
    }
    .libros li{
        font-size: 15px;
        padding: 11px;
    }
    .enlaces{
        overflow-y: auto;
    }
}
@media screen and (max-width: 767px){
    .button{
        font-size: 10px;
        flex-direction: column; /*botones uno debajo del otro*/
        gap: 10px;
    }
    .libros li{
        font-size: 14px;
        padding: 10px;
    }
    /*quitar hover*/
    .libros li:hover{
        scale: 1;
    }
    .enlaces{
        overflow-y: auto; 
    }
}
