
/*-----------------------------------------------------------------------------*/
/*PÁGINA RESEÑAS INDIVIDUALES*/
.review{
    width: 100%;
    height: calc(100% - 125px);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.review h2{
    margin-top: 20px;
    color: #5b3c6f;
}
.libro {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}
.portada {
    width: 250px;
    border-radius: 8px;
}
.informacion{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
