/*-----------------------------------------------------------------------------*/

/*PÁGINA GENERADOR*/
/*Reglas para la sección generador*/
.generador{
    width: 100%;
    height: calc(100% - 125px);
    margin: 0 auto; 
    text-align: center;
    overflow-y: auto; /*permite que si hay muchos elementos se pueda hacer scroll*/
}
.generador h1{
    margin-top: 20px;
    margin-bottom: 15px;
    color: #5d3a9f;
    font-size: 3em;
}
.generador p{
    color: #6a4c9c; 
    margin-bottom: 25px;
    text-align: center;
}
/*Reglas para el input tipo text*/
.generador form input[type="text"]{
    width: 80%;
    padding: 12px;
    font-family: "Lekton", sans-serif; 
    font-size: 1em; 
    background-color: rgba(245, 245, 245, 0.7);
    border: 1px solid #b497d6; 
    border-radius: 5px;
    margin-bottom: 15px;
    text-align: center;
}
/*Reglas para los botones*/
.generador .botones {
    display: flex;
    justify-content: center;
    gap: 20px; 
    margin-bottom: 10px;
}
.generador .botones input[type="submit"],
.generador .botones input[type="button"]{
    padding: 10px;
    font-size: 1em;
    font-family: "Lekton", sans-serif; 
    background-color: #a992ca; 
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out, font-weight 0.3s;
}
.generador .botones input[type="submit"]:hover,
.generador .botones input[type="button"]:hover{
    scale: 1.2; 
    font-weight: bold;
}
.generador .botones .generate:hover{
    background-color: #8f75b1; 
}
.generador .botones .add:hover{
    background-color: #84619c; 
}
.generador .resultado {
    margin-top: 20px;
    font-size: 1.5em;
    color: #6a4c9c; 
}

h1.on, h2.on, h3.on{
    color: #f0a6ca;
}
p.on{
    color: #d4c0f3;
}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .generador h1{
        font-size: 2.5em;
    }
    .generador p,
    .generador .resultado{
        font-size: 1.2em;
        margin: 0 30px 25px 30px;
    }
    .generador form input[type="text"]{
        width: 85%;
        padding: 11px;
        font-size: 1em;
    }
    .generador .botones input[type="submit"],
    .generador .botones input[type="button"]{
        font-size: 1em;
        padding: 10px;
    }
    .generador{
        overflow-y: auto;
    }
}

@media screen and (max-width: 767px){
    .generador h1{
        font-size: 2em;
        margin-top: 15px;
        margin-bottom: 10px;
    }
    .generador p,
    .generador .resultado{
        font-size: 1em;
        margin: 0 20px 20px 20px;
    }
    .generador form input[type="text"]{
        width: 90%;
        padding: 10px;
        font-size: 0.9em;
    }
    .generador .botones{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .generador .botones input[type="submit"],
    .generador .botones input[type="button"]{
        font-size: 0.9em;
        padding: 8px;
        transition: none;
        scale: 1;
    }
    /*quitar hover*/
    .generador .botones input[type="submit"]:hover,
    .generador .botones input[type="button"]:hover{
        scale: 1;
        font-weight: normal;
        background-color: #a992ca;
    }
    .generador{
        overflow-y: auto;
    }
}