/*Reglas generales*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /*para que no afecte el padding ni el margin a las dimensiones*/
}
/*Reglas del body*/
body{
    height: 100vh; /*que ocupe toda la pantalla*/
    background-image: url('../img/fondo.png');
    background-size: cover; /*para que la imagen cubra todo el fondo */
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Lekton", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*Reglas del contenedor*/
.contenedor{
    width: 95%; /*para que sea más pequeño que el body*/
    height: calc(100vh - 4%); /*defino una altura para el contenedor*/
    background-color: rgba(245, 245, 245, 0.8);
    border-radius: 5px;
    position: relative; /*es necesario poner position relative para que sirva como referencia*/
    overflow: hidden; /*que no sobresalga nada del contenedor*/
}
/*Reglas de la navegación*/
nav{
    width: 100%; /*así el nav ocupa el 100% del contenedor*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky; /*de esta manera, el nav se queda fijo en la parte superior del contenedor*/
    top: 0; /*lo posiciona al principio del contenedor*/
    padding: 10px;
    border-bottom: 1px solid #333; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
/*Reglas del ul de la navegación*/
nav ul{
    list-style: none;
    display: flex;
}
/*Reglas de los li del ul de la navegación*/
nav ul li{
    margin-right: 20px; /*separar los li*/
}
/*Reglas de los enlaces de los li de la navegación*/
nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    cursor: pointer;
    transition: font-size 0.2s ease-in-out, font-weight 0.3s; /*para que la transición sea más suave*/
}
/*Cuando se pasa el puntero por encima de los enlaces cambia el tamaño a más y se pone en negrita*/
nav ul li a:hover {
    font-size: 1.6em; /* Aumenta el tamaño al pasar el cursor */
    font-weight: bold;
}
/*Reglas de las imagenes dentro del nav*/
nav img{
    height: 40px;
}
/*Reglas del LOGO*/
nav img.logo{
    position: static; /*Posicionarlo en referencia al contenedor*/
    transform: translateX(-500%); /*Ajusta para centrarla perfectamente. Esto ajusta la imagen para que quede perfectamente centrada, ya que, al usar left: 50%, la imagen quedaría alineada a la mitad de su ancho, pero no centrada*/
}
/*Reglas de la imagen del modo oscuro en el nav*/
nav img.oscuro{
    cursor: pointer;
    transition: scale 0.2s ease-in-out
}
/*Cuando se pasa el cursor por la img de modo oscuro aumenta ligeramente de tamaño*/
nav img.oscuro:hover{
    scale: 1.1;
}
/*Reglas de TITULO e INFO*/
.titulo, .info{
    position: absolute;
    width: 100%;
    height: calc(100% - 125px);
    display: none; /*por defecto, tienen display none*/
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
/*Al añadir la clase VISIBLE se hace visible el div que corresponda*/
.visible{
    display: flex;
    animation: fade 0.5s;
}
/*Reglas de h1*/
h1{
    font-size: 5em;
    padding: 10px;
    color: #5b3c6f;
}
.titulo h1{
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;
}
/*Reglas de los botones*/
button{
    background-color: #a992ca;
    font-family: "Lekton", sans-serif;
    border: none;
    padding: 10px 20px;
    margin-top: 20px;
    cursor: pointer;
    font-size: 1.2em;
    color: white;
    border-radius: 5px;
    transition: scale 0.2s ease-in-out, font-weight 0.3s;
}
/*Hover para el botón: se hace más grande y se pone el texto en negrita*/
button:hover{
    scale: 1.2;
    font-weight: bold;
}
/*Reglas de la imagen de la gyoza*/
.titulo img{
    position: absolute;
    height: 280px;
    top: -25px;
    z-index: 1;
}
/*Reglas h1 de INFO*/
.info h1{
    font-size: 3.5em;
    color: #5b3c6f;
}
/*Reglas de párrafo*/
p{
    font-size: 16px;
    margin: 10px 40px;
    text-align: justify;
    color: #7e5f9e;
}
/*Reglas de span de párrafo*/
p span{
    font-weight: bold;
    color: #f8a4d9;;
}
/*Reglas de footer*/
footer{
    width: 100%;
    background-color: #a992ca;
    padding: 10px 0;
    font-family: "Lekton", sans-serif;;
    text-align: center;
    position: absolute;
    bottom: 0;
}
/*Reglas del párrafo del footer*/
footer p{
    color: white;
    font-size: 1.2em;
    margin: 0;
    white-space: nowrap; /*de esta manera el texto no se rompe*/
    animation: movimiento 20s linear infinite; /*animación para que el texto vaya hacia la izquiera de manera infinita*/
}
footer p span{
    color: #f8a4d9;
}


/*REGLAS DEL MODO OSCURO*/
/*Al añadir la clase .on cambian los colores del documento y su fondo*/
body.on{
    background-image: url('../img/fondo-oscuro.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contenedor.on{
    background-color: rgba(70, 28, 118, 0.9);
}
nav.on{
    background-color: #3e1f6e;
}
h1.on, h2.on, h3.on{
    color: #f0a6ca;
}
p.on{
    color: #d4c0f3;
}
nav ul li a.on{
    color: #e6c7f7;
}
nav ul li a.on:hover{
    color: #f8a4d9;
}
button.on{
    background-color: #8435c1;
    color: white;
}
button.on:hover{
    background-color: #a661e8;
}
footer.on{
    background-color: #8435c1;
}

/*------------------------------------------------------------------------------------------------------*/
/*KEYFRAMES*/
/*Se define el fade para que la transición al pulsar los botones sea más suave y tenga ese efecto*/
@keyframes fade{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
/* Definir la animación del texto del footer*/
@keyframes movimiento {
    0% {
        transform: translateX(100%); /* Empieza desde la derecha */
    }
    100% {
        transform: translateX(-100%); /* Termina en la izquierda */
    }
}


/*------------------------------------------------------------------------------------------------------*/
/*DEFINICIÓN DE LOS MEDIA QUERIES*/
/*Pantallas menores a 985px*/
@media (max-width: 985px) {
    nav {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        position: relative; /*asegura que los elementos se mantengan en el flujo*/
    }
    nav img.logo {
        transform: translateX(-100%); /*mover el logo para poder centrarlo*/
    }
    nav ul li a {
        text-decoration: none;
        font-size: 1.3em; /*se cambia el tamaño para que se acople al navegador*/
        transition: font-size 0.2s ease-in-out, font-weight 0.3s;
    }
    nav ul li a:hover{ /*cambio también en el hover para que vaya en proporción*/
        font-size: 1.5em;
        font-weight: bold;
    }
    .titulo, .info{
        height: calc(100vh - 130px);
    }
    .titulo img{
        height: 200px;
        top: -20px;
    }
    h1{
        font-size: 5em;
        padding: 10px;
    }
    .info h1{
        font-size: 3.5em;
        padding: 10px;
    }
    p{
        font-size: 16px;
    }

}
/*Para pantallas menores a 767px*/
@media (max-width: 767px) {
    nav {
        padding: 0;
        display: flex;
        flex-direction: column-reverse; /*para colocar el logo y el modo oscuro encima de los enlaces*/
        justify-content: center;
        align-items: center;
        position: relative;
    }
    nav img.logo {
        transform: none; /*se quita el transform*/
        width: 40px; 
        height: auto; /*mantener la proporción*/
        margin: 2px 0;
    }
    nav img.oscuro {
        width: 30px;
        height: auto;
        margin: 2px 2px 0 auto;; /*lo alinea a la derecha y deja algo de espacio en el top y el right*/
    }
    nav ul {
        display: flex;
        justify-content: space-around; /*centrar los enlaces*/
        gap: 15px; /*cambiar el espacio entre los enlaces*/
        padding: 10px;
        width: 100%;
    }
    nav ul li {
        list-style: none;
    }
    nav ul li a {
        text-decoration: none;
        font-size: 1.1em;
        transition: font-size 0.2s ease-in-out, font-weight 0.3s;
    }
    nav ul li a:hover{
        font-size: 1.2em;
        font-weight: bold;
    }
    .titulo, .info{
        height: calc(100vh - 198px);
    }
    .titulo img{
        height: 150px;
        top: 3px;
    }
    h1{
        font-size: 4em;
        padding: 10px;
    }
    .info h1{
        font-size: 3em;
        padding: 10px;
    }
    p{
        font-size: 14px;
    }
    /*PÁGINA NOSOTRAS*/
    .contenido, .uno, .dos{
        height: calc(100% - 190px);
    }
    .uno p, .dos p{
        font-size: 12px;
        margin: 10px 40px;
    }
    .uno img, .dos img{
        width: 100px; 
        height: auto;
    }
    .enlaces img{
        width: 30px;   
        height: 30px;   
    }
    .perfiles{
        flex-direction: column;
    }
    .perfiles img{
        width: 200px; 
    }
    .flecha{
        top: 115px;
    }
}
@media (max-width: 660px) {
    .titulo img{
        height: 120px;
        top: 3px;
    }
    h1{
        font-size: 3.5em;
        padding: 10px;
    }
    footer{
        font-size: 1em;
    }
    .perfiles{
        flex-direction: column;
    }
    .perfiles img{
        width: 150px; 
    }
}
